*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.logo_section{
	margin-top: 4rem;
}
.main_container{
	overflow-x: hidden;
}
h1{
font-family: 'Roboto', sans-serif;
}
/* p{
	font-family: 'Open Sans', sans-serif;
} */
.mens_cloth_heading{
	
	color: #ec615b;
	font-size: 2rem;
}
.logo{
	position: absolute;
	top: -8%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 10rem;
	height: 4.5rem;
}
.company_logo_box{

	border: 1px solid #fff;
	position: relative;
	background-color: #333;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.company_logo_box h1{
	padding: 3rem 1rem 0 1rem;
	font-size: 2rem;
	color: #fff;
	text-align: center;
}
.company_logo_box p{
	
	padding: 0 1rem 1rem 1rem;
	font-size: .8rem;
	color: #fff;
	text-align: center;
}
.line1{
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 25%;
	color: #fff;
	text-align: center;
	border: .8px dotted #fff;
}
/* dropdown css section */
.product_categories_heading h1{
	font-size: 1.5rem;
	text-align: center;
	border-top: 4px solid #ec615b;
	padding: 1rem;
	text-transform: capitalize;
}
.product_categories_heading h1:hover{
	
	color:  #ec615b;
	
}

a {
    color: #333;
    font-size: 1.1rem;
    text-decoration: none !important;
  
}
a:hover{
    color: #ec615b;
     
}
.dropdown_btn_style a{
	text-align: center;
	color: #333;

}
.list-group-item{
	text-align: center;
	color: #333;
}
.dropdown-menu.show {
    display: block;
    margin-left: 6.5rem;
}
.dropdown-menu a:hover{
    color: #ec615b;
}
/* navbar boxes css */

.categery_section2{
	margin-top: 0rem;

}

tabs .nav-link.active {

    border-top: 2px solid #ec615b !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
     border-top: 2px solid #ec615b !important;
}







/* secons left */
.second_left_side{
	margin-top: 4rem;
}

/* .myall_ulli ul{
	margin: 0;
	padding: 0;
	display: flex;

}
.myall_ulli h1{
	margin: 0;
	padding: 0;
	display: flex;

}
.myall_ulli ul li{
	position: relative;
	list-style: none;
}
.myall_ulli h1{
	position: relative;
	list-style: none;
	color: #333;
	cursor: pointer;
	font-size: 1rem;
	text-align: center;
	
}
.myall_ulli h1:hover{
	background: #86ff3b;
	box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
	
	
}
.myall_ulli  h1 .content{
	position: absolute;
	bottom: 55px;
	width: 400px;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
		
}
.myall_ulli h1:hover .content{
	visibility: visible;
	opacity: 1;
} */

.myall_ulli p{
	font-size: 1.2rem;
	text-transform: capitalize;
	text-align: center;
}
.myall_ulli p:hover{
	 color: #ec615b;
	}
.myall_ulli{
	position: relative;
	display: inline-block;

}
 .myall_ulli .content{
 	position: absolute;
 	z-index: 1;
	visibility: hidden;
	width: 20rem;
	background: #fff;
	color: #fff;
	transition: opacity 1s;


}
 .myall_ulli:hover .content{
 	opacity: 1;
	visibility: visible;
	top: -5%;
	left: 100%;
}
.content a{
	text-align:left;
	padding: .5rem .5rem .5rem 2rem;
}
.content a:hover{
 color: #ec615b;
}



















/* header section css here */
.header_nav{
	margin-top: 3rem;
}
.categery_section{
	margin-top: 5rem;
}
.categery_section2{
	margin-top: 5rem;
}
.btn_cart{
	    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #ec615b;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
@media screen and (max-width:800px) {
	.main_container{
	overflow-x: hidden;
}
	.logo_section{
	margin-top: 3rem;
}
.mens_cloth_heading{
	font-size: 1.5rem;
}
	.logo{
	top: -8%;
	left: 50%;
	width: 9rem;
	height: 4rem;
}
.company_logo_box h1{
	padding: 3rem 1rem 0 1rem;
	font-size: 1.2rem;
}
.company_logo_box p{
	padding: 0 1rem 1rem 1rem;
	font-size: .6rem;
}
.line1{
	width: 45%;
	
}
.header_nav{
	margin-top: 2rem;
}
.categery_section{
	margin-top: 3rem;
}
.categery_section2{
	margin-top:1rem;
}
.navbar_top_margin{
	margin-top: 3rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top: 2px solid #ec615b !important;
    font-size: .8rem;
    width: 7rem;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 0.6rem;
    width: 6rem;
}
}
